.BannerNosotros {
  position: relative;
  height: 356px;
  margin-bottom: 15px;
}

.img-BannerNosotros {
  width: 100%;
  height: 430px;
  object-position: 50% 25%;
  margin-bottom: 15px;
}

.texto-superpuesto-BannerNosotros {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -70%);
  padding: 10px;
  text-align: center;
  z-index: 1; 
}

.titulo-BannerNosotros {
  font-family: "DM Serif Display", serif;
  color: #fff;
  font-size: 50px;
}

@media (max-width: 576px) {
  .img-BannerNosotros {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
 
  .titulo-BannerNosotrosnner {
    font-size: 30px;
  }

}