.hero{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.boton, .boton-banner {
    background-color: #2c96bf;
    width: 274px;
    height: 75px;
    border: none;
    border-radius: 18px;
    padding: 25px 20px;
    font-size: 18px;
  }
  
  
  .icon {
    min-width: 24px;
    width: 24px;
    height: 24px;
    margin-left: 5px;
    transform: translateX(var(--link-icon-translate));
    opacity: var(--link-icon-opacity);
    transition: all 0.3s;
  }
  
  .img-Home {
    width: 1011px;
    height: auto;
  }

  .carousel-Hero-Img{
    width: 1011px;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;

  }

  
@media (max-width: 1000px) {
    
    .img-Home {
      width: 70%;
      height: auto;
    }
  }
@media (max-width: 900px) {
    
  .img-Home {
    width: 70%;
    height: auto;
  }
}

@media (max-width: 600px) {

  .boton{
    display: none;
  }
    
  .carousel-Hero-Img{
    width: 100%;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;

  }

}