.wrapper {
  margin: 100px auto;
  max-width: 1100px;
}

.wrapper nav {
  display: flex;
  justify-content: center;
}

.items {
  display: flex;
  justify-content: center;
  width: 100%;
}

.item {
  position: relative;
  padding: 7px 25px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  color: black;
}

.item:hover {
  color: #2c96bf;
}

.item::before,
.item::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  background-color: #2c96bf;
  transition: width 0.5s ease, left 0.5s ease;
}

.item::before {
  left: 50%;
}

.item::after {
  left: 50%;
}

.item:hover::before {
  width: 50%;
  left: 0;
}

.item:hover::after {
  width: 50%;
  right: 0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
  gap: 10px; /* Espacio entre imágenes */
}

.gallery .pic {
  width: 200px; /* Ancho fijo para cada imagen */
  height: 200px; /* Alto fijo para cada imagen */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Oculta cualquier parte de la imagen que sobresalga del contenedor */
}

.gallery .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta la imagen sin deformarla */
  transition: transform 0.3s ease;
}

.gallery .pic:hover img {
  transform: scale(1.1); /* Efecto de zoom al pasar el cursor */
}

@media (max-width: 1000px) {
  .gallery .pic {
    width: 150px; /* Ajuste de tamaño en pantallas medianas */
    height: 150px;
  }
  nav .items {
    width: 100%;
  }
  .items .item {
    padding: 7px 15px;
  }
}

@media (max-width: 600px) {
  .gallery .pic {
    width: 100px; /* Ajuste de tamaño en pantallas pequeñas */
    height: 100px;
  }
  .nav {
    margin-bottom: -60px;
  }
}
