.img-amigos1{
    display: block; 
    height: 310px;
    width: auto;
}

.textoyFoto{
    display: flex;
    margin-top: 91px;

}

.textos-amigos{
    margin-left: 100px;
}

.title{
    font-family: "DM Serif Display", serif;
    font-size: 30px;
}

.texto-amigos{
    font-size: 20px;
    margin-bottom: 85px;
}

.boton_Amigos{
    
    background-color: #2c96bf;
    width: 274px;
    height: 75px;
    border: none;
    border-radius: 18px;
    padding: 25px 20px;
    font-size: 18px;
    margin-bottom: 50px;
    
}

.color-Amigos{
  color: #fff;
}

@media (max-width: 768px) {
    .textoyFoto {
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
    }
  
    .img-amigos1 {
      width: 100%;
      height: auto;
    }
  
    .textos-amigos {
      margin-left: 0;
      text-align: center;
      margin-top: 20px;
    }
  
    .title {
      font-size: 24px;
    }
  
    .texto-amigos {
      font-size: 18px;
      margin-bottom: 40px;
    }
      
  }