.experiencias {
  display: flex;
  margin-top: 91px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
}
.titulo-experiecias {
  font-family: "DM Serif Display", serif;
  font-size: 40px;
}

.columna {
  flex-direction: row;
  
}

.numberblue {
  color: #2c96bf;
  font-weight: 700;
}

.barra-lateral {
    width: 2px;
    background-color: #CECECE;
    margin: 83px;
  }


  @media (max-width: 768px) {
    .experiencias {
      flex-direction: column; /* Stack columns vertically */
      width: 100%; /* Full width on mobile */
      margin-top: 20px; /* Adjust margin for smaller screens */
    }
  
    .barra-lateral {
      display: none; /* Hide the separator on mobile */
    }
  
    .columna {
      margin-bottom: 20px; /* Space between columns */
    }
  
    .titulo-experiecias {
      font-size: 30px; /* Adjust font size for readability */
      text-align: center; /* Center-align titles */
    }
  
    .numberblue {
      font-size: 18px; /* Adjust font size for readability */
    }
  }